@charset "UTF-8";

/* フォームエリア全体 */
.form-area {
  max-width: 1280px;              /* 横幅                        */
  padding: 0 20px;
  margin: 0 auto 120px;
}
.form-area .form-title {
  border-bottom: solid 1px #1f1f1f;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.form-area dl {
  margin-bottom: 40px;
}
/* ラベルと入力欄 */
.form-area .item {
  display: block;
  font-size: 15px;
  margin-bottom: 10px;
}
/* ラベル領域 */
.form-area .item dt {
  width: 100%;
  align-items: center;               
  justify-content: center;   
  background-color: #C9C9C9;
  padding: 10px 20px;
  text-align:center;
}
.form-area .item dt .require {
  background-color: #fef6f8;
  color: #c85a54;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 7px;
  font-family: 'Yu Mincho', 'Hiragino Mincho ProN', serif;
  display: inline-block;
  margin-left: 10px;
}

/*.form-area .item dt .require::before {
  content: "⭐";
}*/
/* 入力欄          */
.form-area .item dd {
  width: 100% ;     
  align-items: center;
  margin: 20px 0px;
}
/* コンボボックスのみ影をつける */
#kind {
  box-shadow: 2px 2px 5px 2px  rgba(201, 201, 201, 0.6);

}
.form-area .item dd.checkbox-group {
  display: flex;
  align-items: center;
}
.form-area .item dd .checkbox-item {
  margin-right: 40px;
}
/* テキスト、メールアドレス、セレクトボックス */
.form-area .item dd input[type="text"],
.form-area .item dd input[type="email"],
.form-area .item dd select {
  width: 100%;
  border: solid 1px #ccc;
  padding: 20px;
}
/* チェックボックス  */
.form-area .item dd input[type="checkbox"] {
  margin-right: 5px;          /* 右側に余白    */
}
/* テキストエリア  */
.form-area .item dd textarea {
  width: 100%;
  border: solid 1px #ccc;
  padding: 20px;
}
.form-area .privacy-policy {
  font-size: 15px;
  margin-bottom: 40px;
}
/* 個人情報の取り扱い */
.form-area .privacy-policy .privacy-text {
  max-width: 640px;
  height: 200px;
  border: solid 1px #ccc;
  padding: 40px 20px;
  margin: 0 auto 30px;
  /* overflow-yを設定しないでスクロールを出す*/
  overflow-x: hidden;         /* はみでたテキストを隠す     */
}
.form-area .privacy-policy .privacy-text .privacy-title {
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}
.form-area .privacy-policy .privacy-text ol {
  line-height: 2;
  margin-top: 30px;
}
.form-area .privacy-policy .privacy-text ol li {
  margin-bottom: 20px;
}
.form-area .privacy-policy .privacy-item {
  text-align: center;
}
/* 送信ボタン */
.form-area .btn-submit {
  width: 100px;
  height: 40px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  align-items: center;       /* 縦中央   */
  justify-content: center;   /* 横中央   */
  font-size: 14px;
  margin: 0 auto;
}

/*-------------------------------------------
スマートフォン
-------------------------------------------*/
@media screen and (max-width: 767px) {
  .form-area {
    margin: 0 auto 60px;
  }
  .form-area .item {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .form-area .item dt {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .form-area .item dd {
    width: 100%;
    padding: 0;
  }
  .form-area .item dd.checkbox-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-area .item dd .checkbox-item {
    margin: 0 0 5px;
  }
}